@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animated-social {
    @apply text-xs text-center mt-3 -ml-5 capitalize bg-red-500 p-1 rounded-md fixed transition-all duration-200 z-50  opacity-0 scale-0;
  }

  .flip-opposite {
    transform: rotateY(3.142rad);
  }

  .auto-fixed {
    @apply fixed mt-0 bg-black w-full;
  }

  .translate-center {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .insta-bg {
    /* prettier-ignore */
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }

  .bg-slider {
    mask-image: linear-gradient(
      90deg,
      transparent,
      #000 40%,
      #000,
      #000 60%,
      transparent
    );
  }

  .slider-animation {
    animation: slider 30s linear infinite;
  }

  .slider-animation-hover {
    animation-play-state: paused;
  }

  @keyframes slider {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .animate {
    animation: hovering 1s linear infinite;
  }

  @keyframes hovering {
    0% {
      transform: translateY(0.5rem);
      transform: translateY(-0.5rem);
    }

    50% {
      transform: translateY(0rem);
    }
    100% {
      transform: translateY(-0.5rem);
    }
  }

  .animate-mini {
    animation: mini 0.1s linear infinite;
  }

  @keyframes mini {
    0% {
      transform: translateY(1px);
      transform: translateY(-1px);
    }

    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-1px);
    }
  }

  .color-flicker {
    animation: flicker 0.25s linear infinite;
  }

  @keyframes flicker {
    0% {
      background-color: white;
    }

    100% {
      background-color: #a8a29e;
    }
  }

  .rotate-side {
    animation: social 500ms linear;
  }

  @keyframes social {
    0% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(180deg);
    }
    100% {
      transform: rotateX(0);
    }
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #ff3d00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

::selection {
  color: white;
  background-color: red;
}
